{% extends 'frontend/base.html' %}
{% load group %}


{% load static %}

{% block breadcrumb%}
    <div class="gpdk-pageheader">
        <ol class="breadcrumb slim-breadcrumb">

        </ol>
        <h6 class="gpdk-pagetitle">Створення послуги</h6>
    </div>
{% endblock %}

{% block extrahead %}
      <link rel="stylesheet" href="{% static 'lib/select2/css/select2.min.css' %}">
{% endblock %}

{% block content %}

{{ form.media.css }}
{{ form.media.js }}

<div class="box">
    <div class="col-xs-12 step-wrapper">
        <ul class="nav-panel backend">
            <li class="active">
                <a href="#">
                    <h4 class="list-group-item-heading"><i class="fa fa-address-card"></i></h4>
                    <p class="list-group-item-text">Заявник</p>
                </a>
            </li>
            <li class="disabled border-div ">
                <a href="#">
                    <h4 class="list-group-item-heading"><i class="fa fa-font-awesome"></i></h4>
                    <p class="list-group-item-text">Ділянка надр</p>
                </a>
            </li>
            <li class="disabled border-div ">
                <a href="#">
                    <h4 class="list-group-item-heading"><i class="fa fa-edit"></i></h4>
                    <p class="list-group-item-text">Характеристика ділянки</p>
                </a>
            </li>
            <li class="disabled border-div ">
                <a href="#">
                    <h4 class="list-group-item-heading"><i class="fa fa-file"></i></h4>
                    <p class="list-group-item-text">Файли послуги</p>
                </a>
            </li>
            <li class="disabled border-div ">
                <a href="#">
                    <h4 class="list-group-item-heading"><i class="fa fa-key"></i></h4>
                    <p class="list-group-item-text">Підпис</p>
                </a>
            </li>
            <li class="disabled border-div ">
                <a href="#">
                    <h4 class="list-group-item-heading"><i class="fa fa-key"></i></h4>
                    <p class="list-group-item-text">Результат</p>
                </a>
            </li>
        </ul>
    </div>


    <form method="post" class="card card-wrapper card-without-border"  enctype="multipart/form-data" id="resolution_rada_project-create-form">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">

                <div class="form-group {% if form.pib.errors %}has-error{% endif %} col-md-12">
                    <label>ПІБ:</label>
                    {{ form.pib.errors }}
                    {{ form.pib }}
                </div>

                <div class="form-group {% if form.title.errors %}has-error{% endif %} col-md-12">
                    <label>Заголовок або короткий зміст послуги:</label>
                    {{ form.title.errors }}
                    {{ form.title }}
                </div>

                <div class="form-group {% if form.deadline.errors %}has-error{% endif %} col-md-12 ">
                    <label>Строк виконання послуги:</label>
                    {{ form.deadline.errors }}
                    {{ form.deadline }}
                </div>

             <div class="form-group {% if form.organ.errors %}has-error{% endif %} col-md-12 ">
                    <label>Орган реєстрації:</label>
                    {{ form.organ.errors }}
                    {{ form.organ }}
                </div>

                <div class="form-group {% if form.phone.errors %}has-error{% endif %} col-md-12 ">
                    <label>Номер телефону:</label>
                    {{ form.phone.errors }}
                    {{ form.phone }}
                </div>

            </div>
            <div class="col-md-6">
            <div class="form-group {% if form.inn.errors %}has-error{% endif %} col-md-12 ">
                    <label>Ідентифікаційний номер:</label>
                    {{ form.inn.errors }}
                    {{ form.inn }}
                </div>

            <div class="form-group {% if form.place.errors %}has-error{% endif %} col-md-12 ">
                    <label>Місцезнаходження:</label>
                    {{ form.place.errors }}
                    {{ form.place }}
                </div>

                <div class="form-group {% if form.info_person.errors %}has-error{% endif %} col-md-12 ">
                        <label>Інформація про особу підписанта Угоди про умови користування надрами:</label>
                        {{ form.info_person.errors }}
                        {{ form.info_person }}
                </div>

                <div class="form-group {% if form.info_document.errors %}has-error{% endif %} col-md-12 ">
                    <div id="city">
                        <label>Інформація про документ, яким надані повноваження особі підписанта:</label>
                        <i class="ajax_spinner fas fa-spinner fa-spin fa fa-fw" ></i>
                        {{ form.info_document.errors }}
                        {{ form.info_document }}
                    </div>
                </div>

            <div class="form-group {% if form.email.errors %}has-error{% endif %} col-md-12 ">
                    <label>Email:</label>
                    {{ form.email.errors }}
                    {{ form.email }}
                </div>


{#                <div class="form-group {% if form.file.errors %}has-error{% endif %} col-md-12 ">#}
{#                    <label>Заватажте довідку про склад сім'ї, страхівку, мед.довідку, диплом або атестат, виписку з банку за останніх 30 років:</label>#}
{#                    {{ form.file.errors }}#}
{#                    <div class="file_upload">#}
{#                        <!--<span>Завантажити</span>-->#}
{#                        {{ form.file }}#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="form-group {% if form.file.errors %}has-error{% endif %} col-md-12 ">#}
{#                    <label class="btn btn-primary" for="my-file-selector">#}
{#                        {{form.file.errors}}#}
{#                        {{form.file}}#}
{#                        <i class="fa fa-download" aria-hidden="true"></i> Вибрати файл#}
{#                    </label>#}
{#                    <span class='label label-info' id="upload-file-info"></span>#}
{#                </div>#}
        </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="form-group col-md-12 text-right">
                        <a href="/create/" class="btn btn-fill btn-danger"><i class="fa  fa-close"></i> Відміна</a>
                        <button type="submit" class="btn btn-fill btn-success" id="submit">Зберегти та продовжити
                            <i class="fa fa-angle-double-right"></i></button>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>


{% endblock %}

{% block js_footer %}
    <script src="{% static 'js/city_upload.js' %}"></script>
    <script src="{% static 'js/eservice.js' %}"></script>
{% endblock %}
