{% extends 'base.html' %}
{% load static %}

{% block head_title %}

    <section class="content-header">
        <h1>
            <i class="fa fa-edit"></i> Редагування службової записки
        </h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-home"></i>Головна</a></li>
            <li class="active"><a href="/create/">Типи послуг</a></li>
        </ol>
    </section>

{% endblock %}

{% block content %}
<div class="box">
    <div class="text-center">
        <div class="row form-group">
            <div class="col-xs-12">
                <ul class="nav nav-pills nav-justified thumbnail-top setup-panel">
                    <li class="active"><a href="/eservice/update/{{ eservice.id }}/1">
                        <h4 class="list-group-item-heading"><i class="fa fa-edit"></i></h4>
                        <p class="list-group-item-text">Картка послуги</p>
                    </a></li>

                    <li><a href="/eservice/update/{{ eservice.id }}/3">
                        <h4 class="list-group-item-heading"><i class="fa  fa-chain"></i></h4>
                        <p class="list-group-item-text">Пов'язані послуги</p>
                    </a></li>
                           <li><a href="/eservice/update/{{ eservice.id }}/4">
                            <h4 class="list-group-item-heading"><i class="fa fa-users"></i></h4>
                            <p class="list-group-item-text">Виконавці</p>
                        </a></li>
                </ul>
            </div>
        </div>
    </div>


    <form method="post" enctype="multipart/form-data" id="resolution_rada_project-create-form">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">


                    <div class="form-group {% if form.title.errors %}has-error{% endif %} col-md-12">
                        <label>Заголовок або короткий зміст послуги:</label>
                        {{ form.title.errors }}
                        {{ form.title }}
                    </div>

                    <div class="form-group {% if form.deadline.errors %}has-error{% endif %} col-md-12 ">
                        <label>Строк виконання послуги:</label>
                        {{ form.deadline.errors }}
                        {{ form.deadline }}
                    </div>
            </div>
        <div class="col-md-6">
          <div class="form-group {% if form.comment.errors %}has-error{% endif %} col-md-12 ">
            <label>Докладний опис:</label>
            {{ form.comment.errors }}
            {{ form.comment }}
          </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">

                    <div class="form-group col-md-12 ">
                        <label>Файли:</label>
                        <div class="text-muted"> *Допустимі розширення файлу: .pdf, .doc, .docx, .odt, .rtf, .jpg,
                            .jpeg, .png, .tif, .tiff
                        </div>
                        {{ form.file }}
                        <div class="box-body" style="width: 100%; padding: 0; margin-top: 3%;">
                          <!-- See dist/js/pages/dashboard.js to activate the todoList plugin -->
                          <ul class="todo-list ui-sortable">
                          {% for file in eservice_object.eservicefile_set.all %}
                             <li style="">
                              <!-- todo text -->
                              <span class="text"><a href="/media/{{ file.file }}">{{ file.filename }}</a></span>
                              <!-- Emphasis label -->
                                 <div class="tools">
                                <a href="{% url 'file_delete' file.id %}"><i class="fa fa-trash-o"></i></a>
                              </div>
                            </li>
                           {%endfor%}
                          </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">

                        <div class="form-group col-md-12 text-right">
                            <a href="/create/" class="btn btn-fill btn-danger"><i class="fa  fa-close"></i> Відміна</a>
                            <button type="submit" class="btn btn-fill btn-success" id="submit">Зберегти та продовжити
                                <i class="fa fa-angle-double-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>


{% endblock %}
